<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A layout example that shows off a responsive product landing page.">
  <title>Cristal Chavez</title>
  		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="css/layouts/marketing.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Cristal Chavez</h1>
            <div class="splash-subhead">
                Welcome!
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Projects</h2>

                <div class="pure-g">
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                        <h3 class="content-subhead">
                            Tic-Tac-Toby
                         	<a href="https://tictactoby.firebaseapp.com">
                        	<img class="tictactoby" width="350" src="http://i.imgur.com/12yoztC.png"></a>
                        	
                        </h3>
                    </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        Meet Me@
                        <a href="http://www.meet-me-at-the.club./users/sign_in">
                    	<img class="tictactoby" width="325" src="http://i.imgur.com/sW9YTZv.png"></a>            
    				</h3>
                </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="llama" width="250" src="http://i.imgur.com/pWWkxwm.jpg">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">


            <h2 class="content-head content-head-ribbon">About Me</h2>

            <p>
            	I was born and raised in the San Fernando Valley, CA and graduated from UC Santa Barbara in 2008 with a degree in both Sociology and Spanish. It was during my time at UCSB that I began to work in the mental health field as a direct care specialist. I became very interested in the field, and appreciated the feeling that I was doing something valuable. 
            </p>
            <p>
                After 10 years in the health field, however, I felt it was time for a career change. That's when I enrolled in General Assembly's Web Development Immersive Program. I enjoy working with HTML, CSS, JavaScript, Ruby, Rails and Bootstrap.
            </p>
            <p>
                In my spare time, I enjoy reading, watching foreign films, traveling and searching for llama videos/songs in the interwebs.
            </p>
        </div>
    </div>
<!--     <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Contact</h2>
                <div class="pure-g">
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                        <h3 class="content-subhead">
                            Cristal Chavez<br>
                            Email: cristal.ritz.chavez@gmail.com<br>
                            GitHub: github.com/cmchavez<br>
                            LinkedIn: linkedin.com/in/cristalchavez<br><br>
                            <img class="pure-img-responsive1" alt="llama" width="300" src="http://i.imgur.com/hQ3SE3D.jpg">
                        </h3>
                    </div>
                </div>
        </div>
    </div> -->
<div class="content-wrapper">
        <div class="contact pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
            <h2 class="content-head content-head-ribbon">Contact</h2>
	           Cristal Chavez<br>
	           Email: cristal.ritz.chavez@gmail.com<br>
	           GitHub: github.com/cmchavez<br>
	           LinkedIn: linkedin.com/in/cristalchavez<br><br>
                <img class="pure-img-responsive1" alt="llama" width="300" src="http://i.imgur.com/hQ3SE3D.jpg">
        </div>
</div>
      

 
   
</body>
</html>

